html * {
  list-style-type: none;
  cursor: url('./images/sun.cur'), pointer;
}

body {
  font-family: 'bluu';
  /*  <p class="coldemobig" style="font-family:&quot;savate-italique-webfont&quot;;"></p>color: yellow;*/
  color: rgb(0, 4, 25);
  max-width: 90%;


}

ul {
  margin-left: 11%;
  padding-left: 0;
  margin-right: 11%;
}

.gauche {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  background:rgb(247, 177, 134);
  white;
  (173,255,244)
}

.menu {

}

.droite {
  position: fixed;
  top: 0;
  left: 300px;
  bottom: 0;
  right: 0;
  background: rgb(158, 252, 184);
  /*lightgreen*/
}

.scroll {
  width: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background:rgb(246,175,171);
    /*rose*/

}

.bar {
  width: 100%;
  height: 200px;
  background: blue;
  /*bleu*/
  transform: translateY(20%);
}

.gauche .scroll {
  background: rgb(17, 252, 162);
  /*lightgreen*/
}

.gauche .scroll .bar {
  background: rgb(174, 27, 209);
  /*violet*/
}

img {
  max-width: 100%;
  height: auto;
}

.contenu {

}

.p1 {
  background: rgb(158, 252, 184)
  /*(118, 251, 117)vert d'eau*/
  /*(230,178,0);/*rose*/
}

.p8 {
  background: rgb(255, 249, 110);
}

.p2 {
  background: rgb(120, 191, 229);
}

.p3 {
  background: rgb(161, 255, 255);
}

.p4 {
  background: rgb(0, 8, 97);
}

.p5 {
  background: rgb(255, 68, 255);
}

.p6 {
  background: rgb(255, 99, 58);
}

.p7 {
  background: rgb(250, 229, 183);
}

.p9 {
  background: rgb(255, 252, 142);
  position: fixed;
  top: 0;
  left: 300px;
  bottom: 0;
  right: 0;
}

.p10 {
  background: pink top: 0;
  left: 300px;
  bottom: 0;
  right: 0;
}

.p11 {
  background: pink
}
.p13 {
background: rgb(201, 142, 0);
}


p {
  margin-top: 0;
}

p em {}

/*pour changer juste le texte courant à l'intérieur des articles*/

.cache {
  display: none;
  margin-top: 0;
  color: yellow;
}

.info {
  color: rgb(0, 4, 25);
}

a {
  /* truc automatique qui s'applique à tout mes liens*/
  text-decoration: none;
  color: inherit;
  /* s'applique là où il est inclus*/
}

#lien-projet-10:hover {
  color: rgb(135, 8, 22);
}

#lien-projet-11:hover {
  color: rgb(135, 8, 22);
}

#lien-projet-12:hover {
  color: yellow;
}

#lien-projet-1:hover {
  /*  font-style: italic;*/
  color: rgb(246,175,171)
  /*(247, 106, 98);*/
}

#lien-projet-2:hover {
  color: rgb(227, 142, 0)
}

#lien-projet-3:hover {
  color: rgb(211, 142, 0)
}

#lien-projet-4:hover {
  color: rgb(211, 142, 0)
}

#lien-projet-5:hover {
  color: rgb(211, 142, 0)
}

#lien-projet-6:hover {
  color: rgb(211, 142, 0)
}

#lien-projet-7:hover {
  color: rgb(211, 142, 0)
}

#lien-projet-8:hover {
  color: rgb(211, 142, 0)
}

#lien-projet-9:hover {
  color: rgb(211, 142, 0)
}
#lien-projet-13:hover {
  color: rgb(211, 142, 0)
}

.viewport { height: 100%; overflow: hidden; position: relative; }
.overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
.scrollbar{ position: relative; float: right; width: 40px; }
.track {  height: 100%; width:40px; position: relative; }
.thumb {  height: 20px; width: 40px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

#droite .track {
  background: pink;
}

#gauche .track {
  background: yellow;
}

#gauche .scrollbar {
  opacity: 0;
}
#droite .thumb {
  background: blue;
}

#gauche .thumb {
  background: green;
}
